<!-- <ul class="list-inline" id="top2">
  <li><a href="#"><strong>숙소구분</strong></a></li>
  <li><a href="#"><strong>숙소가격</strong></a></li>
  <li><a href="#"><strong>필터</strong></a></li>
</ul> -->

<ul class="nav nav-pills" role="tablist">
  <li role="presentation"><a href="#">숙소구분 <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">숙소가격 <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">필터 <span class="badge">3</span></a></li>
</ul>
