<html>
  <head>

  </head>
  <body>
    <h1>자료올리기</h1>
    <form action="/new" method="post" enctype="multipart/form-data">
      <p><input type="text" name="title" placeholder="제목을입력하세요."></p>
      <p><input type="file" name="profile" placeholder="사진을 업로드하세요."></P>
      <p><input type="text" name="desc" placeholder="상세내용"></p>
      <p><input type="submit"></p>
    </form>
  </body>
</html>
