<h2>회원정보</h2>
<hr/>
<ul class="list-group">
  <li class="list-group-item">
    <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://localhost:3000/img/profile.png" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">아이디: 60billion<small><a href="/changeProfile"> 회원정보 수정</a></small></h4>
      <p>이메일: 60billions@gmail.com</p>
      <p>이름: Hyun Cho</p>
      <p>거주지역: Aurora ave N, Seattle WA 98109</p>
    <!-- 게시물확인버튼 -->
    <button class="btn btn-primary" style="margin-top:10px;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      작성한 게시물보기
    </button>
    <!-- 게시물확인리스트 -->
    <div class="collapse" id="collapseExample" style="margin-top:10px;">
      <div class="well">
        <ul class="list-group">

          <li class="list-group-item">
            <div class="pull-right">
              <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>

            </div>

              <a href="#"><span class="glyphicon glyphicon-home"></span> 무빙세일합니다.11월30일까지 진행합니다.</a>

          </li>

          <li class="list-group-item">
            <div class="pull-right">
              <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href=""><span class="glyphicon glyphicon-trash"></span></a>

            </div>
            <a href="#"><span class="glyphicon glyphicon-tags"></span> 원배드룸 렌트 합니다. $1000/한달 퀸즈에있습니다.</a>

          </li>

          <li class="list-group-item">
            <div class="pull-right">
              <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href=""><span class="glyphicon glyphicon-trash"></span></a>

            </div>
            <a href="#"><span class="glyphicon glyphicon-info-sign"></span> 영주권진행중에 미국방문을 해도 괜찮은가요?</a>

          </li>

        </ul>
      </div>
    </div>
    </div>
    </div>

  </li>
</ul>
