<div class="modal-header" style="background-color:#60B078;">
  <div class="pull-right" >
    <div class="btn-group" style="margin-right:15px;">
      <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>저장하기</strong></a>
      <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>공유하기</strong></a>
      <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>새창열기</strong></a>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:4px;"><span aria-hidden="true">&times;</span></button>
  </div>
  <!-- 그래픽아이콘첨 -->
  <h3 class="modal-title" id="myModalLabel" style="color:#ffffff; margin-top:0px;"><i class="glyphicon glyphicon-info-sign"></i> 신분변경 중 운전면허 실기시험 문의드려요</h3>
</div>


<div class="modal-body">
  <div class="container-fluid">


    <div class="row" >
      <h4>신분변경 중 운전면허 실기시험 문의드려요!</h4>
      <ul class="list-group" >
        <li class="list-group-item" style="background:#f2f2f2">
          <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="http://localhost:3000/img/profile.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            안녕하세요 미리 감사의 말씀을 드립니다

            지금 j1비자에서 f1비자로 신분을 변경중입니다.
            f1서류를 보내기전에, j1비자로 운전면허필기로 10월쯤 통과했습니다.
            운전경험이 하나도없어서 실기시험을 보려는데 1-2달정도 기간이 걸릴 것 같은데요, f1비자가 요즘 거절이 많이 되고 있지만 pending기간도 길어지고, 차없는 것도 불편해서 하는데요

            불체자신분으로 운전면허 필기부터 다시 진행해야하는지, j1으로 발행된 신분증과 운전면허필기시험을 j1으로 그대로 실기시험까지 치고 학생비자가 나오면 연장할 수 있는건 하나도 모르겠습니다..

            어떤 기한에 어떤 방법으로 운전면허 실기를 진행되면 좋을지 자세히 의견을 주시면 감사하겠습니다!
          </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="row">
      <h4><strong>답변:</strong> 신분변경 중 운전면허 실기시험 문의드려요!</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="http://localhost:3000/img/profile.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            J1 서류를 주요 서류로 넣으시고 f비자 서류는 신청 후 받은 접수증과 i20등 관련된 서류도 지참하고 가세요 . 단 주에 따라 이 두 비자의 기한을 염두해 두고 면허를 발행한 후 그 기간이 끝나면 다시 서류를 제출해야하는 불편한 면이 있을 수 있어요. 불체자로 신청을 한다고 면허 기간이 정상적으로 나올지는 모르지만 지금은 신청 펜딩 중이니 우선은 그냥 불체로 하지는 마세요.
          </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="row">
      <h4><strong>답변:</strong> 신분변경 중 운전면허 실기시험 문의드려요!</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="http://localhost:3000/img/profile.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            새로 시험안보고 그전 시험본거 가지고 하셔도 됩니다
          </div>
          </div>
        </li>
      </ul>
    </div>


  </div>
</div>








<div class="modal-footer" style="background-color:#60B078;">
  <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>저장하기</strong></a>
  <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>공유하기</strong></a>
  <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>새창열기</strong></a>
  <button type="button" class="btn btn-success" style="background: #60B078;" data-dismiss="modal"><strong>창닫기</strong></button>
</div>
