<!-- modal header -->
<div class="modal-header" style="background-color:#60B078;">
  <div class="pull-right" >
    <div class="btn-group" style="margin-right:15px;">
      <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>저장하기</strong></a>
      <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>공유하기</strong></a>
      <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>새창열기</strong></a>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:4px;"><span aria-hidden="true">&times;</span></button>
  </div>
  <!-- 그래픽아이콘첨 -->
  <h3 class="modal-title" id="myModalLabel" style="color:#ffffff; margin-top:0px;"><i class="glyphicon glyphicon-tags"></i>  무빙세일 11월 말 까지</h3>
</div>

<!-- modal body -->
<div class="modal-body">
  <div class="container-fluid">

    <div class="row">
        <h3><strong>판매자& 기본정보</strong></h3>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="http://localhost:3000/img/profile.png" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">아이디: 60billion</h4>
              <p>컨텍정보: 60billions@gmail.com </p>
              <p>등급: 우수회원입니다. </p>
              <p>거래지역: Aurora ave N, Seattle WA 98109 </p>
              <a class="btn btn-success" style="background: #60B078; width:230px;" href="#" role="button"><strong>채팅하기</strong></a>
            </div>
            </div>
          </li>
        </ul>

    </div>

    <div class="row">
        <h3><strong>희망 거래장소</strong></h3>
          <!-- 지도 -->
          <div id="map1"></div>
    </div>

    <!-- 상품리스트 -->
	<div class="row">
    <h3><strong>상품리스트</strong></h3>
      <div id="catlist">
        <!-- 혼다 2009년식 -->
        <dl>
      		<dt>
            <h4>혼다 2009년식</h4>
            <a href="http://localhost:3000/img/bs/used.jpg" data-fancybox="images" data-type="image">
              <img src="http://localhost:3000/img/bs/used-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used.jpg" data-fancybox="images" data-type="image">
              <img src="http://localhost:3000/img/bs/used-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used.jpg" data-fancybox="images" data-type="image">
              <img src="http://localhost:3000/img/bs/used-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used.jpg" data-fancybox="images" data-type="image">
              <img src="http://localhost:3000/img/bs/used-1.jpg" />
            </a>
          </dt>
      	</dl>
      	<dl>
      		<dd>
      			<p>The description of whatever the heading is about goes here. The description of whatever the heading is about goes here.The description of whatever the heading is about goes here.</p>
      			<p>Another line of text to show that it doesn't wrap under the image. Another line of text to show that it doesn't wrap under the image. </p>
      		</dd>
      	</dl>
        <!-- 침대 퀸사이즈 -->
        <dl>
      		<dt>
            <h4>침대 퀸사이즈</h4>
            <a href="http://localhost:3000/img/bs/used2.jpg" data-fancybox="images1" data-type="image">
              <img src="http://localhost:3000/img/bs/used2-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used3.jpg" data-fancybox="images1" data-type="image">
              <img src="http://localhost:3000/img/bs/used3-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used3.jpg" data-fancybox="images1" data-type="image">
              <img src="http://localhost:3000/img/bs/used3-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used3.jpg" data-fancybox="images1" data-type="image">
              <img src="http://localhost:3000/img/bs/used3-1.jpg" />
            </a>
          </dt>
      	</dl>
      	<dl>
      		<dd>
      			<p>The description of whatever the heading is about goes here. The description of whatever the heading is about goes here.The description of whatever the heading is about goes here.</p>
      			<p>Another line of text to show that it doesn't wrap under the image. Another line of text to show that it doesn't wrap under the image. </p>
      		</dd>
      	</dl>
        <!-- 아이폰4 -->
        <dl>
      		<dt>
            <h4>아이폰4</h4>
            <a href="http://localhost:3000/img/bs/used2.jpg" data-fancybox="images2" data-type="image">
              <img src="http://localhost:3000/img/bs/used2-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used3.jpg" data-fancybox="images2" data-type="image">
              <img src="http://localhost:3000/img/bs/used3-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used4.jpg" data-fancybox="images2" data-type="image">
              <img src="http://localhost:3000/img/bs/used4-1.jpg" />
            </a>
            <a href="http://localhost:3000/img/bs/used5.jpg" data-fancybox="images2" data-type="image">
              <img src="http://localhost:3000/img/bs/used5-1.jpg" />
            </a>
          </dt>
      	</dl>
      	<dl>
      		<dd>
      			<p>The description of whatever the heading is about goes here. The description of whatever the heading is about goes here.The description of whatever the heading is about goes here.</p>
      			<p>Another line of text to show that it doesn't wrap under the image. Another line of text to show that it doesn't wrap under the image. </p>
      		</dd>
      	</dl>



      </div>


	</div>



  </div>
</div>




<!-- 모달 footer -->
<div class="modal-footer" style="background-color:#60B078;">
  <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>저장하기</strong></a>
  <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>공유하기</strong></a>
  <a class="btn btn-success" style="background: #60B078;" href="#" role="button"><strong>새창열기</strong></a>
  <button type="button" class="btn btn-success" style="background: #60B078;" data-dismiss="modal"><strong>창닫기</strong></button>
</div>
