<html>
  <head>
    <meta charset="utf-8">
    <%- include('../parts/bootstrap.ejs'); %>
  </head>
  <body>
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
  </body>
</html>
