<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%- include('../parts/bootstrap.ejs'); %>
    <%- include('../parts/css.ejs'); %>
    <%- include('../parts/js.ejs'); %>

  </head>
  <body>
    <form class="" action="/test1" method="post">
      <select name="select1" id="select1">
        <option value="1">Fruit</option>
        <option value="2">Animal</option>
        <option value="3">Bird</option>
        <option value="4">Car</option>
      </select>


      <select name="select2" id="select2">
        <option name="1" value="Banana">Banana</option>
        <option name="1" value="Apple">Apple</option>
        <option name="1" value="Orange">Orange</option>
        <option name="2" value="Wolf">Wolf</option>
        <option name="2" value="Fox">Fox</option>
        <option name="2" value="Bear">Bear</option>
        <option name="3" value="Eagle">Eagle</option>
        <option name="3" value="Hawk">Hawk</option>
        <option name="4" value="BWM">BWM<option>
      </select>

      <input type="submit" name="" value="submit">
    </form>


    <script type="text/javascript">
    //select test
    $("#select1").change(function() {
      if ($(this).data('options') === undefined) {
        /*Taking an array of all options-2 and kind of embedding it on the select1*/
        $(this).data('options', $('#select2 option').clone());
      }
      var id = $(this).val();
      var options = $(this).data('options').filter('[name=' + id + ']');
      $('#select2').html(options);
    });
    </script>


  </body>
</html>
