
<h2>추천 구인 리스트</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="http://localhost:3000/img/logo/logo1.png" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">프리윌린 (freeWheelin)</h4>
        <p>수학 교육 IT 솔루션 '매쓰플랫' 에듀테크(Edutech) 스타트업 Android Developer최소 3,600만원 / 경력</p>
        스타트업 Android Developer최소 3,600만원 / 경력
      </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="http://localhost:3000/img/logo/logo2.png" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">로앤컴퍼니 (LawTalk) </h4>
        <p>법률과 인공지능 Technology을 통해 법률 서비스의 새로운 패러다임을 만듭니다. </p>
        [경력] 로톡(LawTalk) 웹 백엔드/프론트엔드 개발자 모십니다!4,000 - 6,000만원 / 경력
      </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="http://localhost:3000/img/logo/logo3.png" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">캐시워크(주) (CashWalk, Inc.)</h4>
        <p>모바일의 파괴력을 건강한 생활 습관으로 연결시키는 디지털 헬스케어 기업</p>
        캐시워크와 함께 걸어갈 백엔드 개발자님을 찾습니다.최소 4,200만원 / 경력
      </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="http://localhost:3000/img/logo/logo4.png" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">프리윌린 (freeWheelin)</h4>
        <p>수학 교육 IT 솔루션 '매쓰플랫' 에듀테크(Edutech) 스타트업 Android Developer최소 3,600만원 / 경력</p>
        스타트업 Android Developer최소 3,600만원 / 경력
      </div>
      </div>
    </li>
  </ul>
  <br><br>
