
<h2>추천 사고팔고</h2>
<div class="row">
  <div class="col-sm-5 col-md-3">
    <div class="thumbnail">
      <img src="http://localhost:3000/img/bs/used.jpg" alt="atp1">
      <div class="caption">
        <h3>Gergeous Brand New Apartment</h3>
        <p>아파트 전체, 침대 1개</p>
        <p>$130.00/day</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-3">
    <div class="thumbnail">
      <img src="http://localhost:3000/img/bs/used2.jpg" alt="atp2">
      <div class="caption">
        <h3>Gergeous Brand New Apartment</h3>
        <p>아파트 전체, 침대 1개</p>
        <p>$130.00/day</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-3">
    <div class="thumbnail">
      <img src="http://localhost:3000/img/bs/used3.jpg" alt="atp1">
      <div class="caption">
        <h3>Gergeous Brand New Apartment</h3>
        <p>아파트 전체, 침대 1개</p>
        <p>$130.00/day</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-3">
    <div class="thumbnail">
      <img src="http://localhost:3000/img/bs/used4.jpg" alt="atp6">
      <div class="caption">
        <h3>Gergeous Brand New Apartment</h3>
        <p>아파트 전체, 침대 1개</p>
        <p>$130.00/day</p>
      </div>
    </div>
  </div>
</div>
<br><br>
