<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="http://localhost:3000/img/no.no_logo.svg.png" width="32px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">등록하기</a></li>
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
    </ul>
  </div>
</nav>
