<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top"> 		<!-- Master nav -->
			<!-- top nav -->
			<nav class="navbar navbar-top">

				<div class="container">
					<!-- left nav top -->
					<div class="navbar-header flex-item">
						<a class="navbar-brand" href="/">National Networks</a>
					</div>
					<from class="form-inline">
					<ul class="nav navbar-nav" style="margin-left:60px;" >
			      <li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">사용자국가<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Page 1-1</a></li>
			          <li><a href="#">Page 1-2</a></li>
			          <li><a href="#">Page 1-3</a></li>
								<li><a href="#">Page 1-3</a></li>
			        </ul>
			      </li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">나라선택<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Page 1-1</a></li>
								<li><a href="#">Page 1-2</a></li>
								<li><a href="#">Page 1-3</a></li>
							</ul>
						</li>
			    </ul>
					<!-- right nav top -->

					<ul class="nav navbar-nav" style="padding:11px;">

						<input type="text" class="form-control" name="password" placeholder="세부지역이름">
						<a href="#" class="btn btn-success" type="submit" role="button" id="but"><span class="glyphicon glyphicon-search"></span> Search</a>

					</ul>
					</from>

					<ul class="nav navbar-nav pull-right">
						<li><a href="#">회원가입</a></li>
						<li><a href="#">로그인</a></li>
					</ul>
				</div>

			</nav>

			<!-- down nav -->
			<nav class="navbar navbar-down">
				<div class="container">
					<div class="flex-container">
						<ul class="nav navbar-nav flex-item hidden-xs">
							<li><a href="/recomend">추천</a></li>
							<li><a href="/housing">숙소</a></li>
							<li><a href="#">구인구직</a></li>
							<li><a href="#">사고팔기</a></li>
							<li><a href="#">정보공유</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</nav>		<!-- /master nav -->

				<div class="container">
			<div class="row">

				<div class="col-md-8">
					<h3>Example heading <span class="label label-default">New</span></h3>
				</div>




				<div class="col-md-4">

				</div>
			</div>
		</div>
