<!-- <a style="display:block" href="/"><h3>NationalNetworks</h3></a>
<div class="pull-right">
  <ul class="list-inline" id="top1">
    <li><a href="#"><strong>등록하기</strong></a></li>
    <li><a href="#"><strong>로그인</strong></a></li>
    <li><a href="#"><strong>회원가입</strong></a></li>
  </ul>
</div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/">National Networks</a>
    
  <div class="pull-right">
  <ul class="nav navbar-nav">
   <li><a href="#"><strong>등록하기</strong></a></li>
   <li><a href="#"><strong>로그인</strong></a></a></li>
   <li><a href="#"><strong>회원가입</strong></a></li>
  </ul>
  </div>
</div>
<div class="container" style="padding-top: 30px">

</div>
