<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav .navbar-left">
        <li><a href="#">추천</a></li>
        <li><a href="#">숙소</a></li>
        <li><a href="#">구인구직</a></li>
        <li><a href="#">사고팔고</a></li>
        <li><a href="#">지식공유</a></li>
    </ul>
  </div>
</nav>
