<ul class="list-inline" id="top2">
  <li><a href="/recomend"><strong>추천</strong></a></li>
  <li><a href="/housing"><strong>숙소</strong></a></li>
  <li><a href="#"><strong>구인구직</strong></a></li>
  <li><a href="#"><strong>사고팔기</strong></a></li>
  <li><a href="#"><strong>지식공유</strong></a></li>
</ul>
